<!DOCTYPE html>
<html class="draw">
  <head>
    <title>RPS</title>
     <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="../public/css/style.css" rel="stylesheet">
  </head>

  <body>
    <h1 class="draw_h1">Draw</h1> 
  </body>

</html>
