

  <footer class="index_links">
    <a id="start-single-player" href='/pick'>Single Player</a>
    <a id="start-two-player" href='/two_players_game'>Two Players</a><br/>
    <img class="front-page" src="/images/rps.jpeg">
  </footer>
