<!DOCTYPE html>
<html class="index">
  <head>
    <title>RPS</title>
     <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="../public/css/style.css" rel="stylesheet">
  </head>

  <body>
    <h1 class="index_h1">Rock, Paper and Scissors</h1> 
  </body>

  <footer class="index_links">
    <a id="start-single-player" href='/one_player_game'>Single Player</a>
    <a id="start-two-player" href='/two_players_game'>Two Players</a><br/>
    <img class="front-page" src="../public/images/rps.jpeg">
  </footer>

</html>