

<form action="/guess" method="post">
<button type="submit" name="rps" value="rock" class="btn btn-primary"><img src='images/rock.png'></button>
</form>

<form action="/guess" method="post">
<button type="submit" name="rps" value="paper" class="btn btn-primary"><img src='images/paper.gif'height="300" width="300"></button>
</form>

<form action="/guess" method="post">
<button type="submit" name="rps" value="scissors" class="btn btn-primary"><img src='images/scissors.jpg'height="300" width="300"></button>
</form>
