

<form action="/rock" method="post">
<button type="submit" name="rps" value="Rock" class="btn btn-primary"><img src='images/rock.png'></button>
</form>

<form action="/rock" method="post">
<button type="submit" name="rps" value="Paper" class="btn btn-primary"><img src='images/paper.gif'height="300" width="300"></button>
</form>

<form action="/rock" method="post">
<button type="submit" name="rps" value="Scissors" class="btn btn-primary"><img src='images/scissors.jpg'height="300" width="300"></button>
</form>
