*{
  font-family: 'Josefin Slab', serif;
}

#select-heading{
  font-size: 5em;
  float: center;
}

#front-page-image{
  width: 100%;
  height: 100%;
}


.btn{
  outline: none;
}

.selector{
  float: left;
}

.select_players{
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
}

#start-single-player{
  float: center; 
  padding-left: 10em;
}

#start-two-player{
  float: right;
  padding-right: 10em;
}