<div class="container">
  <div class="jumbotron">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,100italic' rel='stylesheet' type='text/css'>
    <img id="front-page-image" src="/images/RockPaperScissors.jpg">
    <a class="select_players" id="start-single-player" href='/one_player'>Single Player</a>
    <a class="select_players" id="start-two-player" href='/two_players_game'>Two Players</a><br/>
  </div>
  
</div>