
<div class="container" >
  <div class="col-md-4 selector "id="paper">
    <form action="/two_player_select" method="post" id>
    <button type="submit" name="rps" value="paper" ><img src='images/paper.jpg' height="300" width="300"></button>
    </form>
  </div>

  <div class="col-md-4 selector"id="scissors">
    <form action="/two_player_select" method="post">
    <button type="submit" name="rps" value="scissors" ><img  src='images/scissors.jpg' height="300" width="300"></button>
    </form>
  </div>

  <div class="col-md-4 selector"id="rock">
    <form action="/two_player_select" method="post">
    <button type="submit" name="rps" value="rock"><img  src='images/rock.jpg' height="300" width="300"></button>
    </form>
  </div>
</div>
